
body {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
   height: 80vh; 
}

.js-button-color {
  background-color: hsl(44, 100%, 63%);
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.flex-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 200px;
  height: 400px;
}
   
.js-button {
  grid-column-start: 1;
  grid-column-end: 3;
}

.js-button-grey {
  background-color: grey;
  color: black;
  font-weight: bold;
  font-size: medium;
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.js-buuton-black{
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 50px;
  margin: 10px;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.js-input {
  padding: 3em;
  border-radius: 40px;
  grid-column-start: 1;
  grid-column-end: 5;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;

}